@import "tailwindcss";

body{
  background-color: #0a0a0a;
}


.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.spaced-text {
  letter-spacing: 0.1em; /* Adjust spacing as needed */
}
